<h1 class="noticias">Not&iacutecias Signature</h1>

<h2><%= link_to 'Nova Noticia', new_noticia_path %></h2>

	<table border="2" width="100%" class="noticias">
		<% @noticias.each do |noticia| %>
			<tr>
				<td class="noticias"><h2 class="noticias"><%= link_to noticia.title, noticia %></h2></td>
			</tr>
			<tr>
				<td class="noticias"><p class="noticias"><%= noticia.descricaoevento %></p></td>
			</tr>
		
			<tr>
				<td colspan="3" class="noticias"><%= link_to 'Editar', edit_noticia_path(noticia) %>
				<%= link_to 'Deletar', noticia, :confirm => 'Tem certeza?', :method => :delete %></td>
			</tr>
		<% end %>
	</table>

<br />
		



