<h1 class="videos">Videos</h1>

<% if can? :new, @videos%>
	<h2 class="videos">
		<%= link_to 'Novo Video', new_video_path %>
	</h2>
<% end %>

	<table border="0" width="100%" class="videos">
		<% @videos.each do |video| %>
			<tr >
				<td class="videos">
					<h3 class="videos"">
						<%= video.nomevideo %>
						<%= raw(video.descricaovideo) %>
					</h3>
				</td>						
			</tr>		
			<tr>			
				<td class="videos">
					<% if can? :update, @videos%>
						<%= link_to 'Editar', edit_video_path(video) %>
					<% end %>
					<% if can? :destroy, @videos%>
						<%= link_to 'Excluir', video, :confirm => 'Tem certeza?', :method => :delete %>
					<% end %>
					<hr>
				</td>
			</tr>
		
		<% end %>
		<tr> 
			<td class="produtospaginate">
				<%= will_paginate @videos %>
			</td>
		</tr>
	</table>

<br />


