<h1>Videos</h1>

<h2><%= link_to 'Novo Video', new_video_path %></h2>
	<table border="2" width="100%">
		<% @videos.each do |video| %>
			<tr >
				<td rowspan="4">video</td>
			</tr>
			<tr>
				<td><%= link_to video.nomevideo, video%></td>
			</tr>
			<tr>
				<td><%= video.descricaovideo %></td>
			</tr>
			<tr>
				<td><%= %>
				<%= link_to 'Editar', edit_video_path(video) %>
				<%= link_to 'Excluir', video, :confirm => 'Tem certeza?', :method => :delete %></td>
			</tr>
		<% end %>
	</table>

<br />


