<p id="notice"><%= notice %></p>

<p>
  <b>Nome:</b>
  <%= @video.nomevideo %>
</p>

<p>
  <b>Descricao:</b>
  <%= raw(@video.descricaovideo) %>
</p>


<%= link_to 'Edit', edit_video_path(@video) %> |
<%= link_to 'Back', videos_path %>
