<h1 class="titulo">Eventos Signature</h1>
<% if can? :new, @eventos%>
	<h2>
		<%= link_to image_tag('novo.png'), new_evento_path %>
	</h2>
<% end %>
	<table border="0" width="100%" class="eventos">
	
	<% @eventos.each do |evento| %>
	
		<tr>
			<td  colspan="2" class="eventos">
				<h2 class="eventos">
					<%= link_to raw(evento.title), evento%>
				</h2>
			</td>
			
		</tr>
		<tr>
			<td class="eventos" rowspan="3">
				<%= link_to image_tag(evento.fotoevento1.url(:medium)), evento%>
			</td>
			
		</tr>
		<tr>
		
			<td class="eventos">
				<%= raw(evento.descricaoevento[0..200]) %>
			</td>
			
		</tr>
		<tr>
			<td colspan="3">
				<% if can? :update, @eventos%>
					<%= link_to image_tag('editar.png'), edit_evento_path(evento) %>
				<% end %>
				<% if can? :destroy, @eventos%>
					<%= link_to image_tag('excluir.png'), evento, :confirm => 'Deseja Realmente Excluir?', :method => :delete %></td>
				<% end %>
		</tr>
	<% end %>
		<tr> 
				<td class="produtospaginate">
					<%= will_paginate @eventos %>
				</td>
		</tr>
</table>

<br />


