<h1 class="titulo"><b>Produtos</b></h1>


<% if can? :new, @produtos%>
		<p class="produtoslink">
			  <%= link_to image_tag('novo.png'), new_produto_path %>
		</p>
<% end %>

	<table border="0" width="100%" >
    
		<% @produtos.each do |produto| %>
			<tr>
				<td colspan="2" class="produtos">
						<h2 class="produtos">
						<hr>
							<%= link_to raw(produto.nomeproduto), produto %>
						</h3>
				</td>			
			</tr>
			<tr>
				<td rowspan="2" class="produtosfoto">
					
						<%= link_to image_tag(produto.foto1(:medium)), produto%>
						
				</td>
			
			</tr>
				<td class="produtos">
								<p class="produtos">
										<%= raw(produto.descricao[0,300])%>...
								<p>
										<br /><br />
								<h3 class="produtos">
										<%= link_to 'Ler mais', produto%>
								</h3>
				</td>
			</tr>
				<td colspan="2"  class="produtos">
				<% if can? :update, @produtos%>
					<%= link_to image_tag('editar.png'), edit_produto_path(produto) %>
				<% end %>
				<% if can? :destroy, @produtos%>
					<%= link_to image_tag('excluir.png'), produto, :confirm => 'Tem certeza?', :method => :delete %></td>
					
				<% end %>
				
		</tr>
	
		
		<% end %>
		<tr> 
			<td class="produtospaginate" colspan="2">
				
				<p><%= will_paginate(@produtos) %></p>
				
			</td>
		</tr>
	</table>

<br />


