<p id="notice"><%= notice %></p>

<p>
  <b>Nomefoto:</b>
  <%= @foto.nomefoto %>
</p>

<p>
  <b>Comentario:</b>
  <%= @foto.comentario %>
</p>


<%= link_to 'Edit', edit_foto_path(@foto) %> |
<%= link_to 'Back', fotos_path %>
